.table-title {
    font-size: x-large !important;
    text-align: center !important;
}

.expense-report-month {
    margin-top: 1%;
    padding: 1%;
    border: 1px solid black !important; 
    border-radius: 5px 50px;
    background-color: #E8F6EF;
}

.expense-report-category {
    margin-top: 2%;
    padding: 1%;
    border: 1px solid black !important; 
    border-radius: 50px 5px;
    background-color: #C1ECE4;
}